* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    overflow: hidden;
    background: #070F2B;
    font-family: monospace;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*FORM*/

form{
    display: flex;
    flex-direction: column;

    gap: 5px;
    padding: 15px;

    background-color: #9290C3;
    box-shadow: 0px 0px 20px 4px #9290C3;
}

form label{
    color: #070F2B;
    font-size: 20px;
}

form input{
    background-color: #535C91;
    color: #070F2B;
    
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    padding: 5px;

    border: none;
    outline: none;
}

form input::placeholder{
    color: #9290C3;
    opacity: 0.6;
}

/*BOTON VOLVER*/

.volver{
    position: absolute !important;
    left: 20px;
    top: 20px;
}

.volver:hover::before,
.volver:hover::after{
    content: "Volver";
}

.revelar{
    text-align: center;
    
    border: none;
    outline: none;
}

.revelar:hover::before,
.revelar:hover::after{
    content: "Revelar";
}