* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #070F2B;
    font-family: monospace;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
}

main h1{
    color: #535C91;

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 70px;
    
    margin-left: 10px;
    margin-bottom: 10px;

    text-shadow:
        4px 0 0 #9290C3,
        0 4px 0 #9290C3;
    letter-spacing: 3px;
}

.crt:hover::before,
.crt:hover::after{
    content: "Encriptar";
}

.descrt:hover::before,
.descrt:hover::after{
    content: "Desencriptar";
}
